@font-face {
  font-family: 'Russo One';
  src: url('../fonts/RussoOne-Regular.eot');
  src: url('../fonts/RussoOne-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RussoOne-Regular.woff2') format('woff2'),
  url('../fonts/RussoOne-Regular.woff') format('woff'),
  url('../fonts/RussoOne-Regular.ttf') format('truetype'),
  url('../fonts/RussoOne-Regular.svg#RussoOne-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.eot');
  src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-Bold.woff2') format('woff2'),
  url('../fonts/Montserrat-Bold.woff') format('woff'),
  url('../fonts/Montserrat-Bold.ttf') format('truetype'),
  url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
