:root {

  // colors
  --color-primary: #000000;
  --color-secondary: #e27601;
  --color-banner-text: #ffffff;
  --color-banner-bg: #333087;


  // fonts
  --font-primary: 'Russo One';
  --font-secondary: 'Montserrat';
}

