.banner {
  background: var(--color-banner-bg);
  color: var(--color-banner-text);
  padding-bottom: 4.68rem;

  &__logo {
    max-width: 21.875rem;
    height: auto;

    @media screen and (max-width: 768px) {
      max-width: 24rem;
    }
  }

  &__top {
    background: url("../images/stars.png") bottom;
    background-size: contain;
    padding-top: 5.625rem;

    @media screen and (max-width: 768px) {
      background-size: auto;
    }

    h1 {
      margin-top: 25px;

      @media screen and (max-width: 768px) {
        margin-top: 0;
      }
    }

    .container {
      display: flex;
      background: url("../images/photo_1.png"),  url("../images/photo_2.png");
      background-size: 46.875rem 26.25rem, 55.63rem 32.8rem;
      background-position: bottom 30px left 45px, bottom 90px right 45px;
      background-repeat: no-repeat;
      padding-bottom: 34.375rem;
      gap: 80px;

      @media screen and (max-width: 1200px) {
        gap: 30px;
      }

      @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        background: url("../images/photo_2_mob.png") no-repeat bottom center;
        background-size: 283px 167px;
        padding-bottom: 185px;
      }
    }
  }

  &__bottom {
    margin-top: 3.75rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    font-size: 2.34rem;
    letter-spacing: 2px;
    line-height: 1.15;
    justify-content: space-between;

    @media screen and (max-width: 1200px) {
      font-size: 2.8rem;
    }

    &.container {
      max-width: 1300px;

      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: normal;
        text-align: center;
        gap: 35px
      }
    }

    &__title {
      font-size: 3.25rem;
      margin-bottom: 1.56rem;
      display: block;
      letter-spacing: 0.22rem;

      @media screen and (max-width: 1200px) {
        font-size: 3.7rem;
      }

      @media screen and (max-width: 768px) {
        text-transform: uppercase;
      }
    }

    &__icon {
      margin-top: 3.125rem;
      display: flex;
      align-items: center;
      gap: 1.56rem;

      @media screen and (max-width: 1200px) {

        img {
          max-width: 80px;
          max-height: 80px;
        }
      }

      @media screen and (max-width: 768px) {
        flex-direction: column;
        margin-top: 0;
      }
    }
  }
}
